[2015-05-27 12:10] danielpassos opened #2 "Use Material Design theme"

[2015-06-12 09:04] arturdryomov commented on #2
Probably was fixed via #5.

[2015-06-12 09:37] pilhuhn opened #10 "App icon: red does not match"
The logo background red and the logo red in the app icon do not match. Can you remove the background  (red) and use the logo alone as app icon?

If we need a different size for the app icon, we can ask the designers for one.

![screenshot_2015-06-12-11-32-31](https://cloud.githubusercontent.com/assets/208246/8127457/49095a3c-10f7-11e5-88ae-9805209933a6.png)

[2015-06-12 10:03] arturdryomov commented on #10
It was kind of intentional. [The Material Design guidelines](https://www.google.com/design/spec/style/icons.html#icons-product-icons) have certain rules regarding the product icon. In the ideal situation the hawk should should be adapted to the suggested paper-like style. At this point I just threw it on a rectangle to be a little bit more “material” :-)

[2015-06-12 10:15] pilhuhn opened #11 "Auth issues are not shown in UI"
So I just updated the binary after PR#9 and when I started Hawkular.app, it shows me the URL
and a proceed button. Clicking it seems to have no effect.

`adb logcat` shows

[code]

I think the app should in this case redirect to the Auth-Login dialog again.
Otherwise, if the credentials are still valid, that screen should probably be skipped and changing the server should be a menu option.

[2015-06-12 10:23] pilhuhn commented on #10
Then perhaps use some different color - that is not too close here? The red just looks too much like "tried and not achieved" (to me).

Can you specify the exact rules to follow for "adapted to the suggested paper-like style", so that the Designers could have a look?

[2015-06-12 10:32] arturdryomov commented on #10
Well, it was the most pleasant one that wouldn’t completely meld with the icon. Would you prefer a more dark or more light one?

The link above is the best I can provide. [Google apps](https://play.google.com/store/apps/dev?id=5700313618786177705) are a great example.

[2015-06-12 14:00] #2 closed

[2015-06-15 14:14] pilhuhn opened #14 "Crash when clicking on Alerts button"
I think I don't have any alerts yet in the system.

[code]

[2015-06-15 14:23] arturdryomov commented on #14
Yep, seems like it. I actually thought AeroGear will return an empty list in such cases.

[2015-06-15 15:12] arturdryomov commented on #14
- https://issues.jboss.org/browse/AGDROID-426
- https://issues.jboss.org/browse/HWKALERTS-59

[2015-06-17 14:50] danielpassos commented on #14
I'm working on it https://github.com/aerogear/aerogear-android-pipe/pull/36

[2015-06-22 18:52] danielpassos opened #21 "Fix Uris.getUri"
`Uris.getUri(@NonNull String path)` is replacing `https://agpush-dpassos.rhcloud.com/ag-push/` by
`/https%3A%2F%2Fagpush-dpassos.rhcloud.com%2Fag-push%2F`

[2015-06-23 08:36] pilhuhn opened #23 "Crash when server is not reachable"
[code]

[2015-06-26 07:13] arturdryomov commented on #23
Does it happen in the process of the authorization? For me if a server is unreachable after pressing the “Authorize” button AeroGear just updates the dialog with the “Webpage not available” status.

[2015-06-26 07:19] arturdryomov commented on #11
Did it get any better in recent versions?

[2015-06-26 07:21] arturdryomov commented on #21
Most likely was a wrong call after the refactoring. Probably fixed via [`d0df3e2b`](https://github.com/hawkular/hawkular-android-client/commit/d0df3e2b225b21437649b3d6c2067c6ffb6c8613).

[2015-06-26 07:21] #21 closed

[2015-06-26 08:06] pilhuhn commented on #11
Server says

[code]

[2015-06-26 08:06] ming13 commented on #11
Android version is 5.0.2.

[2015-06-26 09:55] arturdryomov commented on #23
OS version is CyanogenMod 5.0.2. At the same time AOSP 5.1.1 works fine and just shows the error-related webpage.

[2015-06-26 09:56] arturdryomov commented on #23
Just checked the emulator with AOSP 5.1.1 — works just fine. @danielpassos Can you please take a look at this?

[2015-06-28 11:08] arturdryomov commented on #14
Put a workaround at the #25 before the Pipe 2.2.0 is released.

[2015-06-30 06:35] ming13 commented on #23
![animation](https://cloud.githubusercontent.com/assets/200401/8425019/3d06b16e-1f0a-11e5-9892-eec8dcacc21d.gif)

[2015-06-30 11:57] danielpassos commented on #23
[code]

[2015-06-30 12:57] danielpassos commented on #11
I also got it yesterday on my device Nexus 5 / Android 5.1.1

[2015-06-30 13:02] pilhuhn commented on #11
What I am saying now is probably unfair to @ming13 , I am glad that @danielpassos also saw this.

@danielpassos Is this something where AG could be improved - e.g. have an error callback to be used?

[2015-06-30 13:07] danielpassos commented on #11
@pilhuhn I thought we had a callback for it. Let me check

[2015-06-30 17:12] danielpassos commented on #14
AeroGear Android Pipe 2.2.1 staged

http://aerogear-dev.1069024.n5.nabble.com/aerogear-dev-AeroGear-Android-Pipe-2-1-1-td11862.html

[2015-07-01 15:04] pilhuhn opened #27 "Adjust code to new inventory version"
16:55:28,065 WARN  [org.hawkular.inventory.rest] (default task-48) RestEasy exception, : javax.ws.rs.NotFoundException: Could not find resource for full path: http://10.33.144.207:8080/hawkular/inventory/6912d4d4-c830-463a-9443-8ecfae03ceaa/environments

The tenant is no longer part of the url and needs to be sent in the header Hawkular-Tenant

[2015-07-01 20:42] arturdryomov commented on #27
I would prefer to stick to [public releases](http://www.hawkular.org/downloads.html) just to be more or less stable. `master` of `hawkular/hawkular` is changing too frequently. Actually the authorization screen points at the supported version of Hawkular.

I’ve made [a wiki page](https://github.com/hawkular/hawkular-android-client/wiki/Server) describing the process better. I would point to a Dock

[2015-07-01 20:55] pilhuhn commented on #27
On 1 Jul 2015, at 22:42, Artur Dryomov wrote:

Well, in theory a public one should show up very soon, which
follows current master. #keepfingerscrossed

[2015-07-01 20:59] arturdryomov commented on #27
Yep, I saw there is a demo event tomorrow. I’ll try out `master` anyway.

[2015-07-02 09:20] metlos commented on #27
Inventory 0.1.0.Alpha3 which is part of Hawkular 1.0.0.Alpha2 deduces the tenant ID from auth info.

So if you just pass in your credentials, a default tenant ID for that user is deduced from it, no need to pass in any additional headers or anything.

If you would like to use a non-default persona for given user (i.e. you want the user to impersonate an organization), you pass in the persona ID of

[2015-07-13 08:15] arturdryomov commented on #27
Implemented via #28.

[2015-07-13 08:15] #27 closed

[2015-07-14 18:31] ming13 opened #31 "Alerts categorization"
At this point alerts are shown without any filtering or categorization, i. e. there are no ways to take a look at alerts only for `https://github.com` or `https://reddit.com`, for example,—only everything you got.

A search for solution leads to both API and UI confusion.

### API

It is possible to filter alerts using trigger IDs and tags. Console uses [filtering based on triggers](https://github

[2015-07-15 07:55] ming13 opened #33 "Metric charts"
It would be great to support different charts for availability and gauges metrics just like Console does. For availability it uses a bar chart and for gauges it uses a line chart.

This will require some determination to find out the type of a metric from the Inventory side. Metrics response looks [like this](http://pastie.org/private/szbaydrsscedelqcyglp9w) and Metric response looks [like this](h

[2015-07-15 11:14] arturdryomov commented on #33
Partially affected by the upstream issue.

https://issues.jboss.org/browse/HAWKULAR-452

[2015-07-15 16:25] ming13 opened #34 "Multiple accounts vs. personas"
The very first plan regarding the application included support for multiple accounts. In case with Hawkular it can mean multiple things.

* Accounts. You can imagine it as a tuple `(host, port, authorization token)`. In other words—multiple services and websites, like Google, Apple, Microsoft.
* Personas. Basically you can imagine it as nodes of Account. An account can have multiple personas. In o

[2015-07-15 16:28] arturdryomov commented on #33
Another upstream issue.

https://issues.jboss.org/browse/HAWKULAR-453

[2015-07-15 16:32] arturdryomov commented on #34
## Technical perspective.

### Accounts

Just use unique names for `AuthzModules`. Account information can be fetched as follows.

[code]

### Personas

Available personas information can be fetched as follows. The next step is to provide proper HTTP headers, i. e. `Hawkular-Persona` or `Hawkular-Tenant`.

[code]

[2015-07-21 11:34] pilhuhn commented on #31
I agree that the current api filter by trigger is limiting. I also believe that some kind of search and filtering is being added as we speak. One of the issues is that Alerts is trying to be generic and could be applicable out of the main Hawkular context.

It may be though that you need to query some properties from Inventory before being able to filter on them in alerts.

With respect to the API

[2015-07-21 13:04] arturdryomov commented on #31
I’m gonna quote @jshaughn and his message on the ML.

From my perspective this thought is actually correct. I understand that all modules work as isolated as possible, but some glue should be there to tie things together and provide some sort of context to make all connections work together.

Maybe Inventory can take this role? For example, it already provides some reference to metrics, i. e.

[co

[2015-07-22 06:51] pilhuhn commented on #34
The persona system in Hawkular follows the GitHub one, where one can act as the GH-user itself or as part of an organization.
Or G+ where I can post as Heiko or as Hawkular-Org

[2015-07-29 08:45] pilhuhn opened #37 "App terminates when remote host is not reachable (with pr36)"
I have from a previous run a server in my app cache, that is currently not up/reachable.
The app (with PR #36  applied) just quits and a box "Hawkular was terminated. OK" system popup
shows.
Another similar crash wrt the demo.hawkular.org instance is below

The app should catch that and offer to potentially switch to a different server.

Note that after clearing the cache the situation improved, s

[2015-07-29 09:03] arturdryomov commented on #37
Seems like it tries to refresh the authorization token, but fails because the server is not available. I’ll try to reproduce.

[2015-08-03 06:13] #34 closed

[2015-08-03 13:49] jkremser commented on #33
just a heads up, it was done on the inventory side 2 weeks ago

here is how it looks like:

[code]

[code]

side note:
btw. you may want to present the traits collected by the pinger component for the 'URLtyped' resources:

[code]

[code]

[2015-08-04 17:32] arturdryomov commented on #14
Was fixed for a while.

[2015-08-04 17:32] #14 closed

[2015-08-04 21:28] arturdryomov commented on #11
Seems like an issue with authorization token refreshing. I’ve posted it upstream to AeroGear.

https://issues.jboss.org/browse/AGDROID-490

[2015-08-14 07:51] arturdryomov commented on #33
Sent as #42.

[2015-08-14 09:44] arturdryomov commented on #11
Sent a couple of PR to AeroGear to fix AGDROID-490, but `invalid_grant` can be a Keycloak-related issue.

https://issues.jboss.org/browse/AGDROID-245

[2015-08-16 08:25] arturdryomov commented on #33
Merged.

[2015-08-16 08:25] #33 closed

[2015-08-16 08:26] arturdryomov commented on #31
Implemented, but I’ll keep the issue open to not forget about API improvements.

[2015-08-17 20:32] arturdryomov commented on #11
![Another](http://media.tumblr.com/tumblr_m76y3u29WF1rnn7li.gif)

https://issues.jboss.org/browse/AGDROID-497

[2015-08-23 21:09] arturdryomov commented on #31
Was reported upstream.

https://issues.jboss.org/browse/HAWKULAR-571

[2015-08-23 21:09] #31 closed

[2016-03-01 07:57] anuj1708 opened #53 "Refresh access request even after deauth caused by expired refresh token"
Client place a refresh token request in place of auth even after deauth caused by refresh token expiring ( That is after half hour. If app is not being used). But working properly with manual Logout.

On click of "authorize" button. Following HTTP request made.

POST /auth/realms/hawkular/protocol/openid-connect/token HTTP/1.1
Accept: application/json
Content-Type: application/x-www-form-urlencode

[2016-03-01 12:32] jpkrohling commented on #53
This should be caught by the Android client and the login form should be shown again to the user. The response body from Keycloak includes an error code and message, so, this could be used to parse this situation.

But isn't the Android client using key/secrets now, instead of OAuth tokens?

[2016-03-01 12:41] openwarrior commented on #53
@jpkrohling Yeah Its right that it is to be caught by android client. But not able to know where its going wrong So placed the issue so every knows about it.
Key / Secret is still not implemented as auth module implementation pull request  was getting a bit difficult to be merged and there were some stuff to be fixed in the client. So I had to close that pull request. i will work around solution f

[2016-04-11 15:47] openwarrior commented on #53
Solved with #56

[2016-04-11 15:47] #53 closed

[2016-07-27 19:09] danielpassos commented on #10
I'll work in a new app icon

[2016-07-27 19:13] openwarrior commented on #23
@danielpassos This issue no longer exist

[2016-07-27 19:16] #23 closed

[2016-07-27 19:27] anuj1708 opened #76 "Checking if url exist"
I think checking for 404 will be still good thing to do on Authorization Activity. As user will not need to come back if there is some mistake. Best will be if we do only http head check for 404

[2016-07-28 12:07] danielpassos commented on #11
👍

[2016-07-28 12:07] #11 closed

[2017-03-02 06:31] garg-anuj opened #92 "Blank Screen when favourite triggers list is empty"
Screen should show message about list being empty.

Changes needed to be done in

`src/main/java/org/hawkular/client/android/fragment/FavTriggersFragment.java`

Refer #91 for help.

[2017-03-02 06:45] garg-anuj opened #93 "Update supported Hawkular version Hawkular-Service 0.32.0.Final"
You will need to update `label_authorization_support` string under resource

[2017-03-02 12:53] sauravvishal8797 commented on #92
@garg-anuj Would like to work on this.

[2017-03-02 12:59] KeenWarrior commented on #92
@sauravvishal8797 Go ahead

[2017-03-02 15:05] shubhamvashisht commented on #93
I will do this @garg-anuj

[2017-03-02 16:42] #93 closed

[2017-03-03 16:49] #92 closed

[2017-03-03 19:48] shubhamvashisht opened #98 "implement loading spinner during authentication to show progress."
when we log in to the server there is no visual hint that user is being authenticated. so user tries to click login button again and again in time it takes to log in. so there should be a loading icon or something similar to show when login /authentication is going on.

[2017-03-03 19:48] shubhamvashisht commented on #98
I am working on it. @garg-anuj

[2017-03-04 05:27] KeenWarrior commented on #98
@shubhamvashisht Go for it

[2017-03-04 08:14] sagar15795 opened #100 "Wrong Navigation Item Checked"
![ezgif com-resize](https://cloud.githubusercontent.com/assets/5468111/23577265/5fe276be-00e0-11e7-941e-a054fcdf839e.gif)

When I return from setting option to the DrawerActivity, I found that setting option is still checked. This issue is happening with Help & feedback and Explorer option.

[2017-03-04 08:14] sagar15795 commented on #100
I am Woking on it.

[2017-03-04 10:37] #98 closed

[2017-03-04 13:18] KeenWarrior commented on #100
Fixed with #101

[2017-03-04 13:18] #100 closed

[2017-03-04 16:14] garg-anuj opened #103 "Maven goals Should be converted"
`mvn clean install`, `mvn license:format` and some similar goals should be converted into gradle tasks so that maven related files can be removed

[2017-03-04 16:22] garg-anuj opened #104 "Aerogear unified push server integration is outdated"
Aerogear unified push server integration is needed to be updated. In new code android client will receive config for connection from REST endpoint instead of hard coding it in app

[2017-03-04 16:51] garg-anuj opened #105 "On alerts screen + action is confusing"
On alerts fragment plus action denoting id `show_hide_res` for showing and hiding toggle for resolved alert should be placed in overflow where its title should change according to the state.

Titles should be `Show Resolved` and `Hide Resolved`

[2017-03-04 17:07] sauravvishal8797 commented on #105
@garg-anuj Would like to work on it.

[2017-03-04 17:07] KeenWarrior commented on #105
@sauravvishal8797 Thanks

[2017-03-04 17:13] sauravvishal8797 commented on #105
@garg-anuj You're welcome.

[2017-03-04 18:36] shubhamvashisht commented on #104
I will do it @garg-anuj

[2017-03-04 18:46] KeenWarrior commented on #104
That will be too big chunk to be taken in initial stage. Lets break in chucks for that

[2017-03-04 18:47] shubhamvashisht commented on #104
That will be very helpful.

[2017-03-04 18:47] shubhamvashisht commented on #104
What is the first task?

[2017-03-04 18:52] KeenWarrior commented on #104
Getting some understanding of https://github.com/jboss-mobile/unified-push-helloworld for now

Then we will first make hard coded system work again before going to next stage

[2017-03-04 18:54] shubhamvashisht commented on #104
OKAY @garg-anuj

[2017-03-05 07:19] garg-anuj opened #106 "Message for empty list not visible after switching between include resolved and remove reslved"
At https://github.com/hawkular/hawkular-android-client/blob/master/mobile/src/main/java/org/hawkular/client/android/fragment/AlertsFragment.java#L255

Apply similar as of #97 based on size of this.alerts

[2017-03-05 07:24] shubhamvashisht commented on #106
Would like to work on in sir.

[2017-03-05 11:00] #106 closed

[2017-03-05 17:08] #105 closed

[2017-03-05 23:05] danielpassos commented on #104
@shubhamvashisht @garg-anuj ping me if you need some help on it

[2017-03-06 04:14] KeenWarrior commented on #104
@danielpassos Surely we will need your help :)

I was just waiting for monday to come

[2017-03-07 06:09] garg-anuj opened #112 "Create Trigger Detail Fragment to present detail of individual trigger"
There is need of Trigger Detail Fragment similar to Alert Detail Fragment. Right now just create Fragment and pass trigger to it. Then toast whole JSON for completing this issue.

Small, Simple and Spicy

[2017-03-07 06:17] garg-anuj opened #113 "Move add action on Trigger inside Trigger Detail Fragment"
After #112 is complete. Move *Add* action which correspond to adding trigger in favourite triggers, from Triggers Fragment  inside Trigger Detail Fragment

[2017-03-07 06:38] garg-anuj opened #114 "Add license header formatting and checking in gradle"
Use https://github.com/hierynomus/license-gradle-plugin

One step toward #103

[2017-03-07 07:05] KeenWarrior commented on #114
Take a look at  https://github.com/feedhenry-templates/helloworld-android-gradle/blob/master/app/build.gradle#L1-L3

and  https://github.com/feedhenry-templates/helloworld-android-gradle/blob/master/app/build.gradle#L48-L51

[2017-03-07 07:08] KeenWarrior commented on #114
Do not forget to include these excludes

https://github.com/hawkular/hawkular-android-client/blob/master/pom.xml#L82-L88

[2017-03-07 07:28] shubhamvashisht commented on #112
i would like to work on this. @garg-anuj

[2017-03-07 07:33] KeenWarrior commented on #112
@shubhamvashisht  Go on :)

[2017-03-07 07:42] sauravvishal8797 commented on #113
@garg-anuj Would like to work on this.

[2017-03-07 07:46] sauravvishal8797 commented on #114
@garg-anuj Would like to work on this.

[2017-03-07 07:50] KeenWarrior commented on #114
@sauravvishal8797 Go for it

[2017-03-08 12:24] danielpassos opened #119 "Replace GCM by FCM"
There is some variable and properties using `GCM` instead of `FCM`. Since `GCM` is replaced by `FCM` we should also replace that variables and properties

[2017-03-08 12:25] shubhamvashisht commented on #119
Would like to it @danielpassos

[2017-03-08 12:27] danielpassos commented on #119
@shubhamvashisht Go ahead!

[2017-03-08 15:28] danielpassos opened #121 "Add toolbar and toolbar back button on explorer"
Toolbar is a full screen and there is not way (except by using the back hardware button) to go back to the main screen

[2017-03-08 15:39] shubhamvashisht commented on #121
on it sir @danielpassos

[2017-03-08 17:30] pg301 commented on #121
@danielpassos I would like to work on this issue.

[2017-03-08 17:35] KeenWarrior commented on #121
@pg301 Go for it

[2017-03-08 17:37] #112 closed

[2017-03-08 23:06] #121 closed

[2017-03-09 10:53] shubhamvashisht commented on #113
@garg-anuj  #112 is complete. i would like to do this.

[2017-03-09 11:17] pg301 commented on #113
@garg-anuj I would like to work on it as well.

[2017-03-09 11:20] KeenWarrior commented on #113
@pg301 You go for it.
@shubhamvashisht I am creating another issue for putting a toggle to turn and off a trigger.

[2017-03-09 11:22] shubhamvashisht commented on #113
alright  @garg-anuj

[2017-03-09 11:24] garg-anuj opened #124 "Create a toggle to represent and change state of trigger from TriggersActivity"
- This issue will need #113 to finish first
- Crate a toggle in place of initial popup area

[2017-03-09 11:25] KeenWarrior commented on #124
@shubhamvashisht You can go for it.

[2017-03-09 11:25] shubhamvashisht commented on #124
@garg-anuj  Thanks

[2017-03-09 11:26] KeenWarrior commented on #119
@shubhamvashisht What is the status?

[2017-03-09 11:41] pg301 commented on #113
@garg-anuj Sure! Thanks.

[2017-03-09 11:52] pilhuhn opened #125 "Just a test"
Just some testing

[2017-03-09 11:53] danielpassos commented on #125
@pilhuhn Test failed :grin:

[2017-03-09 11:54] openwarrior commented on #125
@danielpassos passed

[2017-03-09 12:00] pilhuhn commented on #125
Perfect :-)

[2017-03-09 12:02] #125 closed

[2017-03-09 12:08] danielpassos opened #127 "Kill AuthorizationActivity"
Today we have `LoginActivity` and `AuthorizationActivity` doing almost the same think. I wanna kill `AuthorizationActivity` in favor of `LoginActivity`

[2017-03-09 12:10] danielpassos opened #128 "Cleanup DrawerActivity"
Let's clean up `Drawer Activity` (and rename it to `MainActivity`)  remove all old/not used/not necessary code.

[2017-03-09 12:16] shubhamvashisht commented on #127
@danielpassos  need to move HOST  and PORT EditTexts to loginActivity.

[2017-03-09 12:38] shubhamvashisht commented on #127
should i? @danielpassos

[2017-03-09 12:38] #119 closed

[2017-03-09 12:45] danielpassos commented on #127
@shubhamvashisht No, I'm on it!

[2017-03-09 13:53] shubhamvashisht opened #130 "Force close occurring when quickly switching from favourites to Alerts(Navigation Drawer)."
![g_20170309_1912573](https://cloud.githubusercontent.com/assets/16692282/23752837/edabacd4-04fc-11e7-87f5-38183d1468f7.gif)

03-09 19:21:12.040 6656-6666/org.hawkular.client.android E/StrictMode: A resource was acquired at attached stack trace but never released. See java.io.Closeable for information on avoiding resource leaks.

[2017-03-09 17:36] pg301 commented on #113
![demo](https://cloud.githubusercontent.com/assets/10026907/23762735/04dfa606-051d-11e7-8370-ea95e34c88ed.gif)

[2017-03-09 17:41] pg301 commented on #113
![demo 1](https://cloud.githubusercontent.com/assets/10026907/23762906/a44507a4-051d-11e7-9a2d-4a2b294b25f7.gif)
@anuj1708 Is this what was needed? Please let me know if you want some changes.

[2017-03-09 17:49] KeenWarrior commented on #113
@pg301 Exactly. Pretty cool. Great work. Just make sure
- reduce size by .2
- Its wrapped in linear layout
- move it to top

So that other things can be added to fragment easily

[2017-03-09 17:52] pg301 commented on #113
@anuj1708 Should I change the size of the icon or text? Yeah this is wrapped in Linear Layout and I will move it to the top. Also I wanted to mention that I have use used vectorDrawables as mentioned by @danielpassos. I will do the required changes and open a PR.

[2017-03-09 17:54] KeenWarrior commented on #113
@pg301 Amm. Let size be the same for now. We will alter that later is needed. Rest is good. PR is most welcome

[2017-03-09 18:09] pg301 commented on #113
@garg-anuj I will be commenting out the existing code for adding a trigger inside TriggerFragment. @shubhamvashisht might want to have a look at it when making the toggle.

[2017-03-09 18:11] KeenWarrior commented on #113
@pg301 okay. go on

[2017-03-09 20:45] danielpassos commented on #113
Talking about UX I don't wanna go to a new screen only to _favorite_  something. Just wondering why not add the _heart_ icon left of the menu (inline)?

[2017-03-10 06:29] pg301 commented on #113
@danielpassos @garg-anuj Should I keep the functionality of _Adding_ inside TriggerFragment only if there is no need of opening a new screen. I can try replacing the pop up menu button with the animated heart or star.

[2017-03-10 08:08] KeenWarrior commented on #113
@danielpassos There gonna come a lot more functionality of editing different fields of trigger in detailed trigger fragment. This issue is just starting of that

[2017-03-10 09:20] m-murad commented on #76
@anuj1708
can I send a PR for this?

[2017-03-10 09:26] KeenWarrior commented on #76
@free4murad Welcome to hawkular community.

currently @danielpassos is working on merging of auth and login activities to 1. So please wait for 1 or 2 days before touching this issue.

[2017-03-10 09:28] pg301 commented on #113
@garg-anuj can I send a PR then?

[2017-03-10 09:28] free4murad opened #131 "Abnormal behavior - App closes on backpress."
Current behavior - When the user presses backbutton in `Alerts` fragment the app is closed.

Expected behavior - On pressing back button in `Alerts` fragment `Favorites` fragment must appear.

Should I send a PR for this?

[2017-03-10 09:35] KeenWarrior commented on #113
@pg301 If work is already complete then go on and place PR but I will need to talk to @danielpassos before merging :)

[2017-03-10 09:36] pilhuhn commented on #131
Sure, sounds good

[2017-03-10 09:43] m-murad commented on #76
@garg-anuj
Thanks,
Sure I will wait.

[2017-03-10 09:52] free4murad opened #133 "Use vector drawables instead of PNGs."
We can replace the PNGs with their SVG counterparts. This will reduce the apk size.
Also we can compress images using `pngcrusher` to reduce the size of images.

[2017-03-10 09:59] KeenWarrior commented on #133
That will be nice. But you should talk to @danielpassos before starting to work on this one

[2017-03-10 10:49] #114 closed

[2017-03-10 12:39] KeenWarrior commented on #131
@free4murad Working on it?

[2017-03-10 12:52] m-murad commented on #131
Yes

On Mar 10, 2017 6:10 PM, "Anuj Garg" <notifications@github.com> wrote:

[2017-03-10 13:30] danielpassos commented on #133
@free4murad fell free to replace images by `SVG` but I'd like to use only vectores from [Material Icons](https://material.io/icons). You can import/use it directly from the Android Studio without need any other things like `pngcrusher`

File > New > Vector Asset

<img width="1440" alt="Android Studio Menu, Vector Assets" src="https://cloud.githubusercontent.com/assets/13337/23796947/539631a2-057c-

[2017-03-10 13:33] danielpassos commented on #76
@free4murad related to => https://github.com/hawkular/hawkular-android-client/issues/127

[2017-03-10 13:44] m-murad commented on #127
@danielpassos
Should I proceed

[2017-03-10 13:48] m-murad commented on #133
@danielpassos
I wan to use `pngcrusher` for images like
![screen shot 2017-03-10 at 7 17 44 pm](https://cloud.githubusercontent.com/assets/17262180/23797519/47bc05a6-05c6-11e7-8683-c63b465da1c2.png)

in the above case we can reduce the image size from `33.1 KB` to `9.9 KB`

[2017-03-10 13:54] danielpassos commented on #113
@garg-anuj Ok. I got your point. So... if _detail_ is not a screen only for favorite we can go for it.

@pg301 Let's keep it in _detail_ screen for now

[2017-03-10 13:56] danielpassos commented on #133
@free4murad I got you point, but.... IMHO we should also move the logo (and all images/icons) for SVG. That is why I said `pngcrusher` should be not necessary

[2017-03-10 13:57] danielpassos commented on #127
@free4murad Hold on. I'm finishing it. The link was only to you keep in touch when it done you are free to starts #76

[2017-03-10 14:09] pilhuhn commented on #133
The logo is available in SVG from http://design.jboss.org/hawkular/logo/final/

[2017-03-10 14:30] danielpassos opened #134 "Update hawkular logo"
We should update the hawkular logo to a vector. Logos are available [here](http://design.jboss.org/hawkular/logo/final/) in any format like @pilhuhn commented [here](https://github.com/hawkular/hawkular-android-client/issues/133#issuecomment-285677766)

[2017-03-10 14:33] KeenWarrior commented on #134
@danielpassos Should I close #10 then?

[2017-03-10 14:37] danielpassos commented on #134
@garg-anuj Nopz. I'm working on it now and going to send a new one!

[2017-03-10 14:51] danielpassos commented on #134
@garg-anuj This one is for #10 => https://github.com/hawkular/hawkular-android-client/pull/136

[2017-03-10 15:31] #134 closed

[2017-03-10 15:32] #10 closed

[2017-03-10 16:32] m-murad commented on #131
Can any one please help me with this
![screen shot 2017-03-10 at 10 00 58 pm](https://cloud.githubusercontent.com/assets/17262180/23803642/33f72a84-05dd-11e7-970f-8a2146a3f19f.png)

Not able to understand how I am supposed to do this.

[2017-03-10 17:59] free4murad opened #139 "ActionBar title is not appearing."
In MainActivity the ActionBar title is not appearing.

Can I send a PR for this?

[2017-03-10 18:23] free4murad opened #140 "Resource leak."
There is resource leak in `FavMetricsFragment`.
In line 94 we are opening the `SQLStore`. But this is never being closed.

Should I send a PR?

[2017-03-11 01:38] danielpassos commented on #140
Go ahead!

[2017-03-11 01:38] danielpassos commented on #139
Go ahead!

[2017-03-11 01:42] danielpassos commented on #131
IMO we should not _fix_ it. It's not a but. If you are on the _Alerts_ and wanna go back to the _Favorites_ you should use the menu. I don't agree to have a queue of fragment in MainActivity.

TL;DR If you are in the _MainActivity_ and press back button app should be closed. That is the default behavior

[2017-03-11 05:57] m-murad commented on #131
@danielpassos
I Haven't seen this behavior anywhere.
Apps like `Gmail`, `Play Store`, `Medium`, `utorrent` are using the approach that I have suggested.

Anyway if you think that we should keep it that way then let it be.

[2017-03-11 06:53] sauravvishal8797 commented on #130
@shubhamvashisht It seems to be working fine. The app isn't force closing on switching from favourites to alerts.

[2017-03-11 09:32] shubhamvashisht commented on #130
@sauravvishal8797  It is crashing. here you go again

![g_20170311_1457343](https://cloud.githubusercontent.com/assets/16692282/23822102/520ddebc-066b-11e7-9093-9983475ce416.gif)

[2017-03-11 09:35] m-murad commented on #130
@sauravvishal8797
What device are you using?
Its working fine on my device (Moto G4 Plus, Android 7.0)

[2017-03-11 09:37] shubhamvashisht commented on #130
@free4murad i am also using Moto G4 Plus, Android 7.0 . crashing on my device.

[2017-03-11 12:04] sauravvishal8797 commented on #130
I am using Moto G2 2nd gen, Android 6.0, not crashing on my phone.
![videotogif_2017 03 11_16 37 51](https://cloud.githubusercontent.com/assets/20841578/23823081/654a7584-0680-11e7-919c-6e7b72deae8d.gif)

[2017-03-11 12:10] sauravvishal8797 commented on #130
@shubhamvashisht May be this issue coming up only on Noughat. Have you checked with the lower versions?

[2017-03-11 12:15] danielpassos commented on #130
I also don't get this problem, but if it exists and we can fix, let's do it!

[2017-03-11 12:17] #140 closed

[2017-03-11 12:20] danielpassos commented on #131
I see, it's going back to home when press back button, I still don't like it, but let's move one with it.

[2017-03-11 12:22] #133 closed

[2017-03-11 12:23] #131 closed

[2017-03-11 12:54] shubhamvashisht commented on #130
@danielpassos  @sauravvishal8797  its crashing on my device very frequently, let me see the logcat again..i will update here.

[2017-03-11 13:04] m-murad commented on #130
@shubhamvashisht
I think you are not running the latest code.
Because the title of toolbar is not being displayed in the latest code and the gif you have shared is showing the title.
I suggest that you fetch the latest code and run the app.

[2017-03-11 13:06] shubhamvashisht commented on #130
@free4murad  might be, let me test.

[2017-03-11 15:09] shubhamvashisht commented on #130
fetched latest code, still same result.  am on it.
![g_20170311_2033423](https://cloud.githubusercontent.com/assets/16692282/23824326/76490354-069a-11e7-86a0-55b26433a550.gif)

[2017-03-14 21:33] free4murad opened #144 "Click not properly configured on list items."
In list items (e.g. list items of TriggersFragment) the onclick is not properly configured.
If we click on the extremes of the list (top, bottom, left) the desired event doesn't occur.

Should I send a PR.

[2017-03-15 13:20] danielpassos commented on #144
@free4murad Sure!

[2017-03-15 13:26] #113 closed

[2017-03-15 13:28] #139 closed

[2017-03-15 13:32] #128 closed

[2017-03-15 13:44] shubhamvashisht opened #145 "force close in explorerActivity (unable to launch metricActivity)."
![g_20170315_1903103](https://cloud.githubusercontent.com/assets/16692282/23951209/86c31b72-09b3-11e7-80c6-7b5b1e2c38e6.gif)

LOGCAT: http://pastebin.com/KqE0Z40d

[2017-03-15 16:11] KeenWarrior commented on #145
I thought it will remain uncaught from you guys few days :smile:

[2017-03-15 16:12] KeenWarrior commented on #145
@pg301 Would like to work on it?

[2017-03-15 16:20] KeenWarrior commented on #124
@shubhamvashisht Read data type `Trigger` http://www.hawkular.org/docs/rest/rest-alerts.html#Trigger
We would need create a PUT call changing `enabled` attribute when toggle is switched.

Steps would be
- Create toggle UI
- Create PUT endpoint call for method Trigger
- Create callback

[2017-03-15 16:22] pg301 commented on #145
@garg-anuj Sure :)

[2017-03-15 16:42] pg301 commented on #145
@garg-anuj Done 👍

P.S. One 's' makes a lot of difference ;)

 [
![screenshot_1489596066](https://cloud.githubusercontent.com/assets/10026907/23959880/660047f2-09cc-11e7-80d4-1bc3b157c8a8.png)
](url)

[2017-03-15 17:27] #145 closed

[2017-03-15 17:50] KeenWarrior commented on #130
@shubhamvashisht Can you please add complete logcat

[2017-03-15 18:10] garg-anuj opened #147 "Disolving FavTriggersFragment into TriggersFragment"
I propose dissolving `FavTriggersFragment` into `TriggersFragment`. `FavTriggersFragment` and `TriggersFragment` have everything in common except at `TriggersFragment` data come from rest api at `FavTriggersFragment` data come from store.

[2017-03-15 18:12] m-murad commented on #147
Can I work on this

[2017-03-15 18:12] pg301 commented on #147
@garg-anuj I would like to work on it as well.

[2017-03-15 18:14] KeenWarrior commented on #147
@free4murad Lets pick only one issue at a time. Please finish #144 for next issue.

[2017-03-15 18:14] KeenWarrior commented on #147
@pg301 Go for it

[2017-03-15 18:15] pg301 commented on #147
@garg-anuj Thanks 👍

[2017-03-15 18:32] KeenWarrior commented on #144
@free4murad You can join https://gitter.im/hawkular/GSoC for any help ;)

[2017-03-16 08:07] pg301 commented on #147
![demo2](https://cloud.githubusercontent.com/assets/10026907/23986802/0a5b8ad0-0a4c-11e7-93b4-7ac76cb2bd60.gif)
@garg-anuj I have replaced FavTriggerFragment but there is a small glitch now. Only when I refresh, this update comes. I have added the code in setUpForcedTrigger. Can you please guide me through.

[2017-03-16 08:11] pg301 commented on #147
@garg-anuj I think I fixed it. I removed setupstate method from triggerFragment

[2017-03-16 08:16] KeenWarrior commented on #147
@pg301 What you can do is place the PR with WIP (Work in progress) tag. So that we can help you out better

[2017-03-16 15:11] sauravvishal8797 opened #151 "Screen becomes blank on rotating it to landscape mode."
On rotating the screen it becomes blank rather than showing the contents in landscape mode.
![videotogif_2017 03 16_20 36 37](https://cloud.githubusercontent.com/assets/20841578/24003102/94086460-0a88-11e7-8957-8158fdf0d067.gif)
I am working on it.

[2017-03-17 04:13] #147 closed

[2017-03-17 04:22] #151 closed

[2017-03-17 05:02] janakamarasena commented on #130
Hi I was able to recreate the issue (easier to recreate if you are running the app on a slower internet connection).

It happens only if you switch between the tabs before the content is loaded. I found there are two issues that will cause two separate null pointer exceptions.

When I kept recreating the issue once I got this

                  Process: org.hawkular.client.android, PID: 25808

[2017-03-17 05:07] KeenWarrior commented on #130
@janakamarasena Go for it

[2017-03-17 05:10] KeenWarrior commented on #130
@janakamarasena Reason for this issue is callback of success/fail may come from server when user is out of screen already. You have to do is set it to perform UI actions only when fragment is displayable

[2017-03-17 05:13] janakamarasena commented on #130
@garg-anuj will start working on it :)

[2017-03-17 15:49] garg-anuj opened #156 "Move checkstyle from maven goal to gradle"
Use [gradle plugin](https://docs.gradle.org/current/userguide/checkstyle_plugin.html) to shift checkstyle to gradle

[checkstyle.xml](https://raw.githubusercontent.com/hawkular/hawkular-build-tools/master/build-tools/src/main/resources/hawkular-checkstyle/checkstyle.xml)

[Checkstyle settings](https://github.com/hawkular/hawkular-parent-pom/blob/master/pom.xml#L99-L139)

[2017-03-17 15:49] pg301 commented on #156
@garg-anuj can I try

[2017-03-17 15:50] KeenWarrior commented on #156
@pg301 Sure

[2017-03-17 15:53] shubhamvashisht commented on #156
i would like to  work.

[2017-03-17 15:56] KeenWarrior commented on #156
@shubhamvashisht One work at a time ;) I will get something else for you when you finish this one

[2017-03-17 15:57] KeenWarrior commented on #156
@shubhamvashisht I mean your present one :smile:

[2017-03-17 16:19] shubhamvashisht commented on #156
@garg-anuj  Alright sir

[2017-03-17 16:54] sauravvishal8797 commented on #156
@garg-anuj I would also like to work on it.

[2017-03-17 18:02] garg-anuj opened #157 "Websockets for operations not working over ssl"

[2017-03-17 18:05] garg-anuj opened #158 "Unit tests for models needed to be undated"

[2017-03-17 18:32] janakamarasena commented on #156
@garg-anuj I would also like to work on this.

[2017-03-18 03:09] sauravvishal8797 commented on #158
@garg-anuj Would like to work on this.

[2017-03-18 05:15] KeenWarrior commented on #158
@sauravvishal8797 Go on

[2017-03-18 10:34] free4murad opened #162 "Bug in backpress."
Current behavior - If the navigation bar is open and user presses back key the app is closed.

Expected behaviors - If the navigation bar is open and user presses back key the navigation bar should close.

Should I send a PR.

[2017-03-18 10:41] KeenWarrior commented on #162
@free4murad Go on

[2017-03-18 10:57] m-murad commented on #158
@garg-anuj
Is this assigned to @sauravvishal8797
or can I work on this?

[2017-03-18 15:27] #162 closed

[2017-03-18 15:29] danielpassos commented on #158
@free4murad Just assigned this to @sauravvishal8797 to avoid confusion

[2017-03-18 15:29] danielpassos commented on #162
@garg-anuj Please don't forgot to assigned the issue when say "Go on" to avoid confusion

[2017-03-18 15:32] #144 closed

[2017-03-18 15:34] danielpassos commented on #156
@sauravvishal8797 @janakamarasena Sorry, @pg301 Is already on it. I just assigneed that to her to avoid confusion

[2017-03-18 15:35] danielpassos commented on #158
@garg-anuj Can you elaborate a little more in the description what do you expect here?

[2017-03-18 15:36] danielpassos commented on #157
@garg-anuj  Is this a valid ssl cert or it's a self cert?

[2017-03-18 16:50] janakamarasena opened #164 "Show navigation drawer header dropdown only when there are multiple personas"
![screenshot_20170318-215915](https://cloud.githubusercontent.com/assets/11583571/24074148/f92e4110-0c28-11e7-81d5-8da6790806c6.png)

Right now the drop down button next to the persona is always visible even though there is only one persona; this can mislead users. Shall we have the dropdown invisible by default and make it visible when there are items in list_personas?

Shall I do this and send a

[2017-03-18 17:00] m-murad commented on #164
@janakamarasena
I have a better idea.
Why not an option to add account just like Gmail.

What do you think?

[2017-03-18 17:08] free4murad opened #165 "Replace ListView with RecyclerView."
The app is still using ListView.
We should use RecyclerView instead. RecyclerView will give us better control over list items and add animations in future.

Should I send a PR.

[2017-03-18 17:12] janakamarasena commented on #164
@free4murad I think it is the intended plan going forward; need to think of proper UI layouts and more importantly how the app will work with multiple personas.

[2017-03-19 05:14] pg301 commented on #165
@free4murad Good suggestion, but I think recycler view is beneficial in case of complex list items. In our current setting the list items are fairly simple so using ListView will be the correct choice.

[2017-03-19 06:13] KeenWarrior commented on #157
@danielpassos I don't know much at present, But I was experimenting with https://livingontheedge.hawkular.org/ I will put logcat here later on :wink:

[2017-03-19 08:13] shubhamvashisht commented on #165
perfomance wise there is no noticeable difference between RecyclerView and ListView and as @pg301  said that current listitems are simple enough.. i dont think there is need to change it.

[2017-03-19 11:27] #130 closed

[2017-03-19 11:33] KeenWarrior commented on #158
@danielpassos Yeah sure

Models under `org.hawkular.client.android.backend.model` need to have updated constructors annotated with @VisibleForTesting and unit tests.

Some models don't have tests at present so new tests needed to be created for them

[2017-03-19 11:36] KeenWarrior commented on #164
@janakamarasena @free4murad There was concept of multiple persona early on which have been removed as per for current.

It is presently not confirm if android client will continue to have multiple account or not.

[2017-03-19 11:38] KeenWarrior commented on #165
@danielpassos Can you please suggest what will be better?

[2017-03-19 11:43] janakamarasena commented on #164
@garg-anuj shall I make the dropdown button invisible by default?

[2017-03-19 11:46] KeenWarrior commented on #164
@janakamarasena Go on

[2017-03-19 11:47] m-murad commented on #164
If the app will not support multiple accounts,
Better is that you remove the button.

[2017-03-19 12:14] KeenWarrior commented on #164
@janakamarasena @free4murad Ok. you guys leave it. I will remove whole persona stuff in few days :wink:

[2017-03-19 13:07] m-murad commented on #165
@shubhamvashisht @pg301
Currently the list items are simple, but as me add more features they will become more and more complex. We have to replace the ListView at some point in future. Why not now.
Also the ListView doesn't support animations.

Any way, lets see what @garg-anuj and @danielpassos think.

[2017-03-19 13:14] shubhamvashisht commented on #165
@free4murad  can you name any such feature which is not simple to implement with listView but with recyclerView except Animations.?

[2017-03-19 17:12] Sanyam96 commented on #165
RecyclerView is much more powerful, flexible and a major enhancement over ListView.
 LayoutManager - we can implement LinearLayoutManager, StaggeredlayoutManager, GridLayoutManager, and the best thing is we can do it dynamically as well
Item Animation and Decorator is also another factor.
 AdapterView.OnItemClickListener interface in ListView but  RecyclerView gives much more power and control to

[2017-03-19 18:33] m-murad commented on #165
@Sanyam96
Thanks for note.
@shubhamvashisht
Let the project maintainers decide if the changes are to be made or not.

[2017-03-19 18:38] free4murad opened #167 "Updating the documentation of LoginActivity."
Earlier when tokens were supported the user could login using a QR code.
But now there is only one way of to login i.e. Using username and password.

The documentation for the LoginActivity still talks about the OR code method.
We need to update the documentation.

Should I send a PR for this?

[2017-03-19 18:56] free4murad opened #168 "Ripple effect missing."
In AlertsFragment the list items are clickable but the ripple effect is missing.
We should add the ripple effect to the list items.

I have solved this, should I send a PR?

[2017-03-19 19:27] pilhuhn commented on #168
On 19 Mar 2017, at 19:56, Murad wrote:

What is this ripple effect?

In cases you already have a patch, you can directly submit a PR and
don't need to open an issue before.

[2017-03-19 19:31] m-murad commented on #168
@pilhuhn
This is a ripple effect.
[image](https://github.com/traex/RippleEffect/blob/master/demo.gif)

We are following this pattern in `TriggersFragment`

[2017-03-19 19:40] pilhuhn commented on #168
On 19 Mar 2017, at 20:31, Murad wrote:

Ok, cool. Didn't know it is called that way.

--
hwr@pilhuhn.de  m:0179/207 4919  b:http://pilhuhn.blogspot.com

[2017-03-19 19:46] free4murad opened #171 "Lists are not update."
The lists in the projects are not being updated instantly.
for e.g In Favorite `TriggersFragment` the trigger list is not updated instantly.
Steps to reproduce
1. Open Favorite `TriggersFragment`.
2. Click on an item. (`TriggerDetailFragment`) will open.
3. Remove the Trigger from favorite by clicking on the Heart shaped button.
4. Press back button. (Favorite `TriggersFragment` will open)
5. The

[2017-03-19 23:51] free4murad opened #173 "Providing a search view."
We can provide search view in the toolbar so that the user can search for Metrics, Triggers or Alerts.

If this is an intended function I would like to work on this.

[2017-03-20 07:39] pilhuhn commented on #173
On 20 Mar 2017, at 0:51, Murad wrote:

Sounds like a good idea to me.
Perhaps allow via a drop-down in the magnifier to limit the scope of
search

[2017-03-20 07:41] m-murad commented on #173
@pilhuhn
Sorry but I didn't get you.

[2017-03-20 08:35] pilhuhn commented on #173
On 20 Mar 2017, at 8:41, Murad wrote:

I think/thought I recall, that the search widget
https://developer.android.com/guide/topics/search/search-dialog.html#UsingSearchWidget

allows/allowed to 'click' on the magnifier class to get a drop down,
where you could
offer all/alerts/metrics/... in the drop-down to basically give a scope
on what to search
for.

Imagine you search for the letter 'e' - tha

[2017-03-20 08:48] m-murad commented on #173
@pilhuhn
How about the search option will show only the results from the current fragment.

e.g.
If you are in TriggersFragment and search something. The search will only show Triggers.
Similarly if you in AlertsFragment and search something. The search results will only contain Alerts.

What do you think?

[2017-03-20 09:42] pilhuhn commented on #173
On 20 Mar 2017, at 9:48, Murad wrote:

Makes sense.

[2017-03-20 09:46] m-murad commented on #173
@pilhuhn
I will start working on it then.
One more thing.
Can you tell me who I should contact to write a proposal for this project.

[2017-03-20 10:51] anant-dev opened #174 "Toast while making favorite and when toggle button is clicked"
we can add a toast of short description to let user know what happened, on clicking the heart in individual trigger and on clicking the toggle button for respective trigger.

[2017-03-20 10:59] anant-dev opened #175 "App should have a Splash Screen"
The app should have a splash screen to appear while opening it, in place of a blank white screen which currently appears.

[2017-03-20 11:03] pilhuhn commented on #175
On 20 Mar 2017, at 11:59, Anant Singh wrote:

I am not convinced. See
https://cyrilmottier.com/2012/05/03/splash-screens-are-evil-dont-use-them/
Better work on accelerating the startup until the point where the real
UI is shown.

[2017-03-20 11:14] m-murad commented on #175
@pilhuhn
Google has written some articles about app start time.
We can look into that.

[2017-03-20 11:24] anant-dev commented on #175
@pilhuhn  Splash screen is there to give the user immediate feedback that the app has started and is loading. Even google has it in there material design doc - https://material.io/guidelines/patterns/launch-screens.html#launch-screens-branded-launch
The white screen if stays long can create a sense of uncertainity in user so  we can consider putting it.

@free4murad  app start time depends on the

[2017-03-20 11:33] m-murad commented on #175
@anant-dev
For what I remember according to google guidelines we should first try to decrease the app launch time. After we try every single method of doing that and the launch time is still long then we should introduce a SplashScreen.

I think we should try to reduce the reduce the app launch time, if that fails then add a SplashScreen.

(Just an opinion.)

[2017-03-20 12:26] danielpassos commented on #174
I'd like to use `Snackbar` instead of `Toast`

[2017-03-20 12:30] danielpassos commented on #175
Do we load anything before user login? If not. -1 for that

[2017-03-20 12:31] anant-dev commented on #174
@danielpassos Ok i will make the changes and make a new pr

[2017-03-20 12:31] danielpassos commented on #174
@anant-dev You don't need to make a new one. You can update the current one!

[2017-03-20 12:34] shubhamvashisht commented on #174
@danielpassos sir, guided by @garg-anuj i am already on something similar to it. i will update the issue #124 .

[2017-03-20 12:36] danielpassos commented on #174
ok

[2017-03-20 12:40] #167 closed

[2017-03-20 12:41] #168 closed

[2017-03-20 12:42] danielpassos commented on #165
@free4murad Go ahread

[2017-03-20 12:49] anant-dev commented on #174
@danielpassos  i have updated the pr please review.

[2017-03-20 12:49] pilhuhn commented on #175
@anant-dev If we only show the UI after fetching some remote data, then we need to fix this. Show the UI and then inside the UI have a load indicator that tells what the system is doing.
Perhaps even in a text field, so that it looks like how gradle is showing its actions.

[2017-03-20 13:05] #174 closed

[2017-03-20 13:39] m-murad commented on #76
We also need to validate the username and password fields. If the user leaves the two fields blank and presses Login the app should show an error.

[2017-03-20 14:20] anant-dev commented on #175
@pilhuhn this is the correct solution to avoid splash screen :+1:

[2017-03-20 14:34] anant-dev commented on #76
@free4murad we can check this at the user end itself and show a snack bar telling both the fields are compulsory.

[2017-03-20 14:34] m-murad commented on #76
That's what I have suggested.

[2017-03-20 14:45] danielpassos commented on #76
@garg-anuj, @anant-dev, @free4murad I already did all of that in https://github.com/hawkular/hawkular-android-client/issues/127. You can check it in my branch [kill-auth](https://github.com/danielpassos/hawkular-android-client/blob/kill-auth/mobile/src/main/java/org/hawkular/client/android/activity/LoginActivity.java#L137-L152)

[2017-03-20 14:47] m-murad commented on #76
Cool, we are on the same page then +1.

[2017-03-20 14:51] danielpassos commented on #76
Already included in #127

[2017-03-20 14:51] #76 closed

[2017-03-20 16:37] pg301 commented on #158
@danielpassos @garg-anuj I think this issue requires significant amount of work. Can I start writing tests for some modules.

[2017-03-20 16:47] m-murad commented on #158
@danielpassos @garg-anuj
Actually I haven't completed any GSoC issue yet.
So if @sauravvishal8797 will not be working on it please assign it to me.

[2017-03-21 01:05] sauravvishal8797 commented on #158
@pg301 @free4murad Still working on this one.

[2017-03-21 04:12] pg301 commented on #158
@sauravvishal8797 Cool! Please let me know if you need some help. I have updated some constructors in a3f0b95 so if you want you can skip that part.

[2017-03-21 06:38] pg301 commented on #158
@sauravvishal8797 The issue description suggests that we break down the issue in multiple PRs. I think we can split some work. Please let me know your progress and we can decide on the remaining modules.

[2017-03-21 06:58] pg301 opened #177 "Tests for Adapters need to be updated"
There are some adapters which do not have tests. @garg-anuj I would like to write tests for some remaining adapters.

[2017-03-21 07:09] KeenWarrior commented on #158
@free4murad GSoC issue only means that given issue will be probably easy one to tackle and nothing more. So find issues and register them. Thats it :wink:

[2017-03-21 07:14] sauravvishal8797 commented on #158
@pg301 Yeah cool! For the constructors part we also needed to update the constructor for trigger model as the tests were  failing for the trigger model, so I have updated it here 55b716267c0230664bfd6d73c0c717cb759d8ed0 and had to set minifyenabled to false to avoid the warnings.

[2017-03-21 16:05] garg-anuj opened #179 "Should not start fetching remote data before initial UI"
This issue is currently in generic format and need to be further detailed

[2017-03-21 16:05] KeenWarrior commented on #175
Closing it on ref of #179

[2017-03-21 16:05] #175 closed

[2017-03-21 16:06] shubhamvashisht commented on #179
I want to work in it.

[2017-03-21 16:09] KeenWarrior commented on #173
@free4murad I will suggest to provide small and often PRs so we can have good feedback cycle

[2017-03-21 16:40] garg-anuj opened #180 "Icons in exporer activity for Feed, Metrices etc have gone invisible"

[2017-03-21 16:44] m-murad commented on #180
Should I send a proof for this?

[2017-03-21 16:45] anant-dev opened #181 "Alert Detail Page issues"
1. The list view scroll and scroll to refresh are not working properly ( when one tries to scroll the list view up then the page gets refreshed)

2. The mail floating button not working

3. The state change must be toggled using toggle button with one side saying resolved and the other acknowledged as done in Trigger fragment. (just a suggestion)

4. We can depict Severity using colour code vector

[2017-03-21 16:46] KeenWarrior commented on #180
@free4murad You mean gif? Sure.

[2017-03-21 16:50] shubhamvashisht commented on #179
@garg-anuj  can we break it into details?

[2017-03-21 16:51] KeenWarrior commented on #181
@anant-dev Point 1 and 2 are nice observations. Even though fab is working but list do not get updated correctly.

for point 3 : There are in total 3 states. Initial one being resolved to it will be hard to convert into toggle concept

for point 4 : at present I oppose idea of color for severity

[2017-03-21 17:04] m-murad commented on #180
Sorry I meant PR.
Auto correct

[2017-03-21 17:06] KeenWarrior commented on #180
@free4murad Two active issues are already under your belt. Let some issues to be enjoyed by others :wink:

[2017-03-21 17:11] anant-dev commented on #181
@garg-anuj
can I work on point 1

[2017-03-21 17:14] anant-dev commented on #180
@garg-anuj  what icon ??
I am getting this screen
![screenshot_2017-03-21-22-42-28-073](https://cloud.githubusercontent.com/assets/13196029/24160473/f3ee0936-0e87-11e7-8dcd-9590e7189e9a.jpeg)

[2017-03-21 17:18] KeenWarrior commented on #181
@anant-dev Sure. Open another issue just with point one and start working

[2017-03-21 17:24] anant-dev opened #182 "Alert Detail Page scroll issue"
The list view scroll and scroll to refresh are not working properly ( when one tries to scroll the list view up then the page gets refreshed)

[2017-03-21 17:24] KeenWarrior commented on #180
https://github.com/hawkular/hawkular-android-client/blob/master/mobile/src/main/java/org/hawkular/client/android/explorer/InventoryExplorerActivity.java#L143

[2017-03-21 17:35] anant-dev commented on #180
There is no icons in drawable with the title as in the code (operation_icon, resource_icon , etc) as you can see in https://github.com/hawkular/hawkular-android-client/tree/master/mobile/src/main/res/drawable

[2017-03-21 17:35] anant-dev commented on #182
@garg-anuj do asign me this issue

[2017-03-21 19:59] pg301 commented on #180
@garg-anuj I would like to work on this one.

[2017-03-22 03:32] anant-dev commented on #180
@garg-anuj @pg301 i have created a pull request for this issue

[2017-03-22 12:36] pg301 opened #186 "App crashes on adding a metric to favourite"
`E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: org.hawkular.client.android, PID: 2860
                  java.lang.IllegalStateException: Required view 'button_menu' with ID 2131624118 for field 'menuButton' was not found. If this view is optional add '@Nullable' (fields) or '@Optional' (methods) annotation.
                      at butterknife.internal.Utils.findRequiredView(U

[2017-03-22 12:38] pg301 commented on #186
https://paste.ubuntu.com/24228237/

Here's the paste bin link

[2017-03-22 13:42] pg301 commented on #158
@sauravvishal8797 @garg-anuj The recently opened pull requests 9e85a15 only fixes 'updating visibleForTesting annotation'. There are a number of models which do not have corresponding tests. I would like to write tests for the remaining models and will send a PR.

[2017-03-22 17:25] anant-dev commented on #186
@garg-anuj What is the layout for the fav metric  :
do we need to put image button as in layout_list_item_alert
or a toggle button as in  layout_list_item_token
**This issue** is only because of different id in the layout referred so please clarify the ui (as the app crash only because image view is referred in a layout containing toggle button)
![screenshot_2017-03-22-22-46-49-904](https://cloud.

[2017-03-22 22:14] m-murad commented on #173
@garg-anuj
Actually I was working on issue #188 .
The PR which I will send changes several file heavily and needed a lot of testing. Was busy with testing. (Didn't want to send a faulty PR.)

Will send a PR today

[2017-03-24 17:19] shubhamvashisht commented on #124
@garg-anuj  please check

[2017-03-25 14:21] shubhamvashisht opened #189 "Add show/hide password option in login screen."
Adding show/hide password option in login screen just for convenience.
Hidden:
![screenshot_1490451548](https://cloud.githubusercontent.com/assets/16692282/24322995/513c74a6-1194-11e7-90b1-f239cd5018e2.png)
Shown:
![screenshot_1490451553](https://cloud.githubusercontent.com/assets/16692282/24322999/6d6fe734-1194-11e7-8103-99c14fc2be56.png)

[2017-03-25 14:27] shubhamvashisht commented on #189
@garg-anuj  please check.

[2017-03-25 17:32] m-murad commented on #189
@shubhamvashisht
This functionality is awesome.
But I suggest you wait for @danielpassos to complete #127

[2017-03-26 12:20] free4murad opened #190 "Show more details for trigger."
While adding a few triggers, I noticed that `TriggerFragment` isn't showing all the details about the trigger. Not even the correct details in some cases.
We should update this.
Also more details should be displayed in the `TriggerDetailsFragment`

@danielpassos @pilhuhn @garg-anuj
If this is intended at this point should I send a PR?

[2017-03-26 14:36] m-murad commented on #127
@danielpassos
In `LoginActivity` if we switch to landscape mode, the fields for username and password are not visible.
Please take care of this too, or if you want I can do it.
Thanks

[2017-03-27 07:06] #165 closed

[2017-03-27 07:12] #104 closed

[2017-03-27 07:13] #37 closed

[2017-03-27 08:56] free4murad opened #191 "We should remove stylecheck from travis."
We recently moved the stylecheck to gradle.
But the travis is still checking for style. Its no longer needed there, we should remove it from the `travel.yml` file.

Should I send a PR?

[2017-03-27 09:07] shubhamvashisht commented on #124
@garg-anuj  i need help in the feature you suggested for disabling toggles when state gets changed.

[2017-03-27 11:53] danielpassos commented on #191
Sure!

[2017-03-27 11:57] danielpassos commented on #127
@free4murad It's a little on hold because of another things I need to do. Feel free to test it on my branch https://github.com/danielpassos/hawkular-android-client/tree/kill-auth and send a PR there if needs

[2017-03-27 11:58] danielpassos commented on #189
Or send it directly in my work branch => https://github.com/danielpassos/hawkular-android-client/tree/kill-auth

[2017-03-27 12:05] danielpassos commented on #190
Can you be more specific what do you wanna add to @pilhuhn confirm if it's really necessary

[2017-03-27 12:12] KeenWarrior commented on #191
@free4murad Hey we have moved checkstyle from maven to gradle that too is not 100% complete.

So there will be movement of checkstyle from maven to gradle inside travis shell but it will not be removed.

[2017-03-27 12:14] KeenWarrior commented on #190
@free4murad These are part of GSoC stuff thats why I haven't put words about it yet. So keep calm. Long road ahead :wink:

[2017-03-27 12:14] m-murad commented on #191
@garg-anuj
Sure, got your point. Should I close this issue?

[2017-03-27 12:17] m-murad commented on #127
@danielpassos
Sure

[2017-03-27 12:25] KeenWarrior commented on #124
@shubhamvashisht Thanks

[2017-03-27 12:25] #124 closed

[2017-03-27 13:27] garg-anuj opened #192 "RecyclerView.Adapter are not working properly in tests"
After #188 there is issue in https://github.com/hawkular/hawkular-android-client/blob/master/mobile/src/androidTest/java/org/hawkular/client/android/adapter/AlertsAdapterTester.java and https://github.com/hawkular/hawkular-android-client/blob/master/mobile/src/androidTest/java/org/hawkular/client/android/adapter/MetricsAdapterTester.java

[2017-03-27 13:28] KeenWarrior commented on #192
@free4murad Cure it ASAP :wink:

[2017-03-27 16:52] KeenWarrior commented on #191
@free4murad Yes

[2017-03-27 17:00] #191 closed

[2017-03-27 17:07] m-murad commented on #192
Sure, will send a PR in an hour or 2

[2017-03-27 17:21] #190 closed

[2017-03-27 18:03] shubhamvashisht commented on #189
@danielpassos sent

[2017-03-29 10:55] free4murad opened #195 "Implement exit on double backpress."
We can implement double backpesss to exit.

What do you guys think?

[2017-04-05 21:37] free4murad opened #196 "Use Codacy to check the quality of PRs."
We can use [Codacy](https://www.codacy.com) to check the quality of the Pull Requests.
Codacy will find errors, use of unused imports, variables etc in a PR and report them.

@danielpassos @pilhuhn @anuj1708
What do you guys think about this?

[2017-04-06 09:23] pilhuhn commented on #196
On 5 Apr 2017, at 23:37, Murad wrote:

Sounds like a good idea - I like it

[2017-04-06 09:27] anuj1708 commented on #196
+1

@murad, What are other alternatives for Codacy?

Regards
Anuj Garg

[2017-04-06 09:30] KeenWarrior commented on #196
+1 @free4murad , What are other alternatives for Codacy?

[2017-04-06 11:47] m-murad commented on #196
@garg-anuj
I haven't used service other than `Codacy`.
I looked on the web and found a similar service `Sonarqube`

But Codacy is popular than others.

[2017-04-06 15:35] pilhuhn commented on #196
I have enabled it and it already commented on the open Pull requests.
Let's see how this goes.

[2017-04-06 15:56] pg301 commented on #196
@free4murad Good Idea 👍

[2017-04-06 16:09] m-murad commented on #196
@pilhuhn
Nice

[2017-04-06 16:09] m-murad commented on #196
I am closing this then.

[2017-04-06 16:09] #196 closed

[2017-04-07 09:59] KeenWarrior commented on #156
Closed with #159

[2017-04-07 09:59] #156 closed

[2017-04-07 10:00] KeenWarrior commented on #171
Closed with #172

[2017-04-07 10:00] #171 closed

[2017-04-07 10:02] KeenWarrior commented on #179
@shubhamvashisht Approach I came up for this is. All aerogear pipe config and checking for auth should be moved after initial screen display. We can assume that auth state is same as last time app was visited.

[2017-04-07 10:05] KeenWarrior commented on #195
@free4murad This used to be important features of app but as people have become more efficient in handling app. Double back press requirement started to create a mess.

-1 from me.

[2017-04-07 10:05] KeenWarrior commented on #192
Closed with #193

[2017-04-07 10:05] #192 closed

[2017-04-07 10:10] #189 closed

[2017-04-07 10:11] KeenWarrior commented on #189
Closed with https://github.com/danielpassos/hawkular-android-client/pull/3

[2017-04-07 12:44] garg-anuj opened #197 "Add Codacy Configuration File to project"
Codacy Configuration File .codacy.yaml need to be added in project.

Support links are
https://support.codacy.com/hc/en-us/articles/207994335-Code-Patterns
and
https://support.codacy.com/hc/en-us/articles/115002130625-Codacy-Configuration-File

Suggestions are welcome

[2017-04-07 12:45] pg301 commented on #197
@garg-anuj Can I help?

[2017-04-07 12:48] KeenWarrior commented on #197
sure

[2017-04-08 05:35] pg301 commented on #197
@garg-anuj I have changed the configuration of the project to ignore the 'explicit scoping issue' caused due to bind_view. Earlier #198 was failing the codacy tests, now it is approving. Please check the rest of the pull requests.

[2017-04-08 05:58] shubhamvashisht commented on #182
@anuj1708  can i do on this as now its unassigned ?

[2017-04-10 10:36] #186 closed

[2017-04-14 03:24] free4murad opened #202 "Travis build failing."
After merging PR #200 the travis build for the project is failing. This needs to be fixed.
I am sending a PR for this.

[2017-04-14 04:28] #202 closed

[2017-04-14 06:15] free4murad opened #205 "TODOs in the code base."
While going through the source code, I noticed there are certain `TODOs`.
@pilhuhn @garg-anuj @danielpassos
Can we discuss these.
I would like to send a PR for this.

[2017-04-14 06:29] pg301 commented on #205
@free4murad good idea.  We both can work on it, once we discuss these tasks with @danielpassos @garg-anuj @pilhuhn

[2017-04-14 06:37] shubhamvashisht commented on #205
@pg301 @free4murad   i would like to help implementing some tasks too.  @danielpassos @garg-anuj @pilhuhn

[2017-04-14 06:41] KeenWarrior commented on #205
we can discuss on gitter

[2017-04-14 07:12] #195 closed

[2017-04-14 07:15] KeenWarrior commented on #180
@pg301 Would you like to complete it?

[2017-04-14 07:16] pg301 commented on #180
@garg-anuj Sure. I am on it 👍

[2017-04-14 07:51] shubhamvashisht commented on #179
@garg-anuj as you mentioned the "initial screen display", is it about mainActivity before checking the auth status?

[2017-04-14 08:04] KeenWarrior commented on #179
we can move auth status check and configure pipe to separate thread s it doesn't hamper UI. Additionally we may save auth state from last usage of app and assume state is same. Until we get to find out from other thread that there is some change.

[2017-04-14 08:10] shubhamvashisht commented on #179
@garg-anuj  great, can we break it into phases? i will start working on it.

[2017-04-14 08:16] KeenWarrior commented on #179
@shubhamvashisht Move auth status check and configure pipe to separate thread as first mile stone

[2017-04-14 10:55] m-murad commented on #173
@garg-anuj
I think we can close this now.

[2017-04-14 13:25] KeenWarrior commented on #173
yup

[2017-04-14 13:25] #173 closed

[2017-04-16 10:12] m-murad commented on #179
@garg-anuj @shubhamvashisht @danielpassos
I think this will change the `LoginActivity.java` file.
If one is working on it, he should send the PR to @danielpassos branch.

(Just an opinion)

[2017-04-16 20:03] free4murad opened #210 "Multiple instances of a Fragment."
If we select a Fragment form the NavigationBar which is already open a new instance of the fragment is created. This causes unnecessary extra use of memory.

This needs to be fixed.
I'm sending a PR for this.

[2017-04-16 20:23] m-murad commented on #164
@garg-anuj @danielpassos
if @janakamarasena is not working on this, can I remove the files and code related to multiple persona.

[2017-04-16 21:24] m-murad opened #212 "Constructor needs to be updated in TriggerTester.java"
In `TriggerTester.java` the Trigger constructor is missing a boolean parameter.
The missing parameter needs to be added.

[2017-04-17 13:00] pg301 commented on #197
@garg-anuj Since codacy is no more showing warnings for explicit scoping issue. We can close this issue.

[2017-04-18 06:01] pg301 opened #214 "App crashes in API versions 19 and below"
Here's the log: https://paste.ubuntu.com/24405633/

Demo:
![app crash](https://cloud.githubusercontent.com/assets/10026907/25116429/5d000b1a-242a-11e7-8eee-ed52a6d076d9.gif)

I think I know the fix, can I send a PR for this @garg-anuj

[2017-04-18 06:51] KeenWarrior commented on #214
go on

[2017-04-18 07:00] KeenWarrior commented on #214
If this is related to login activity. Better send PR to fork of @danielpassos

[2017-04-18 07:26] m-murad commented on #214
@pg301

In `activity_login.xml` you need to replace
`android:src="@drawable/hawkular_logo"`
with `app:srcCompat="@drawable/hawkular_logo"`.

The error is because we are using vector drawables instead of conventional PNG files.
Why don't you check the whole project for this type of errors.

[2017-04-18 07:30] m-murad commented on #214
The same error can be found in
1. `fragment_trigger_detail.xml` - Line 37

[2017-04-18 07:53] pg301 commented on #214
@free4murad Thanks for the suggestion. I knew the error, I was just scanning the layouts for similar errors. @garg-anuj since this is not connected to the login acitvity, I will send a PR here only?

[2017-04-18 07:56] m-murad commented on #214
@pg301
Send one PR to @danielpassos branch and one to the main repo.
In my opinion that will be a better think to do.
But confirm with @garg-anuj before you proceed.

[2017-04-19 10:17] #214 closed

[2017-04-21 16:39] m-murad commented on #157
@garg-anuj
Can you please elaborate this issue.
I would like to work on this one.

[2017-04-21 16:40] m-murad commented on #180
@garg-anuj @danielpassos @pilhuhn
This is fixed and can be closed.

[2017-04-21 20:54] shubhamvashisht commented on #157
@garg-anuj i would also like to learn about this. any doc or source?

[2017-04-27 14:22] m-murad commented on #210
@garg-anuj
This has been fixed, closing this.

[2017-04-27 14:22] #210 closed

[2017-05-03 12:01] free4murad opened #216 "Add LeakCanary to project to report memory leaks."

[2017-06-04 09:46] m-murad commented on #212
Fixed via #213

[2017-06-04 09:46] #212 closed

[2017-06-04 23:20] m-murad opened #219 "Caching data."
When the app is offline the app shows no data.
Instead, we should cache data and show it when the app is offline.

@pilhuhn @danielpassos @garg-anuj @pg301
What do you people think???

[2017-06-05 03:53] pg301 commented on #219
@m-murad Good thought! Due to inventory changes a lot of things in the app are not working fine. So we can work on this once we stabilise the app.

[2017-06-15 14:39] pg301 opened #221 "Full alert setup and display"
<img width="298" alt="screen shot 2017-06-15 at 7 59 07 pm" src="https://user-images.githubusercontent.com/10026907/27186480-1c4ab34a-5206-11e7-8ccf-4d01afd22973.png">

These are the details that are required for a new alert setup and I will be making a UI to edit each of these parameters before sending a request. There will a Floating Action Button on the home screen for creating a new alert.

[2017-06-23 10:59] garg-anuj opened #224 "Thoughts on replacing aerogear pipe by retrofit"
Lets collect why this change is needed and how to do this shift at highest pace and least destruction.

[2017-06-23 11:31] danielpassos commented on #224
AeroGear push or pipe?

[2017-06-23 11:43] KeenWarrior commented on #224
@danielpassos Sorry. Pipe. Lack of sleep. :wink:

[2017-07-04 10:52] KeenWarrior commented on #219
@m-murad project is a bit stable now to accept caching advices. So what are your suggestions?

[2017-07-04 10:58] KeenWarrior commented on #127
Closed with  #225

[2017-07-04 10:58] #127 closed

[2017-07-04 10:59] KeenWarrior commented on #216
@m-murad It will be a good move. Lets finish this.

[2017-07-04 15:06] pg301 opened #229 "Fix child resource fetching - Inventory Fixing Part 2"

[2017-07-04 17:54] pg301 commented on #229
<img width="666" alt="screen shot 2017-07-04 at 11 22 33 pm" src="https://user-images.githubusercontent.com/10026907/27839548-ba9eca0a-610f-11e7-8f68-14d29de047e0.png">

I am unable to decode the response to make it similar to that of ruby client. @garg-anuj  @pilhuhn @m-murad Help needed

[2017-07-04 17:55] garg-anuj opened #230 "Should we use Sugar ORM"
Sugar ORM have some benefits and losses of its own

Its most easy to use but not too much performance focused. Do anyone have any review about adding it in project?

[2017-07-04 17:57] KeenWarrior commented on #230
@m-murad. Please put your views about it

[2017-07-04 18:01] KeenWarrior commented on #229
@pg301 these both content do not look same, are you sure they are? Tomorrow i will check and try to process them if that is the case.

[2017-07-04 18:02] pg301 commented on #229
Yeah @garg-anuj They are the same API content. I am 100% sure

It's just encoded in a certain way and we have to decode it.

[2017-07-04 18:05] KeenWarrior commented on #229
@pg301 then don't worry. We will finish it tomorrow

[2017-07-04 18:13] pg301 commented on #229
@garg-anuj I will move on to getting child resources from this particular resource id. We can fix the naming later on

[2017-07-04 18:25] m-murad commented on #230
@garg-anuj

What about `ORMLite`?
I think we should go with `ORMLite`. One can find nice and easy to understand documentation for it.

[2017-07-04 18:32] KeenWarrior commented on #230
@m-murad for that we will need to know if license is suitable

[2017-07-05 05:02] KeenWarrior commented on #230
@m-murad would you like to add Sugar ORM to this client?

[2017-07-05 06:11] m-murad commented on #230
@garg-anuj
Sure, I will start the work tonight.

[2017-07-06 07:15] #224 closed

[2017-07-06 09:52] #182 closed

[2017-07-07 05:12] garg-anuj opened #232 "Show and hide password got missed in cherrypick"

[2017-07-07 05:12] KeenWarrior commented on #232
@shubhamvashisht can you please take care of it?

[2017-07-08 05:44] #232 closed

[2017-07-10 09:37] pg301 opened #234 "Fix child resource and metrics fetching - Inventory Fixing Part 3"

[2017-07-10 09:37] pg301 commented on #221
Done and Merged

[2017-07-10 09:37] #221 closed

[2017-07-11 16:56] KeenWarrior commented on #234
@pg301 please ask

[2017-07-11 17:01] garg-anuj opened #236 "After turning minifyable in build.gradle back to true searchview break"

[2017-07-11 17:03] KeenWarrior commented on #236
@m-murad After finishing this, adding sugar orm will not ask for multidex

[2017-07-12 06:51] pg301 commented on #234
@garg-anuj  I want to fetch metric data for charts as in the below image
https://snag.gy/k5aozY.jpg

I am not sure how to get this data from this JSON https://paste.ubuntu.com/25037833/

Can you help me with this.

[2017-07-13 06:36] KeenWarrior commented on #234
@pg301 looking on it

[2017-07-17 11:41] pg301 opened #238 "Fetching metric data for various metric types"

[2017-07-27 09:23] pg301 opened #241 "Problem with enabling and desabling an existing trigger"
There's a change in the API and some response parsing needs to be redefined. @garg-anuj Will send a PR soon.

[2017-07-27 09:27] pg301 opened #242 "Adding more features like deleting a trigger and editing definition of a trigger."
@pilhuhn @danielpassos @garg-anuj What do you guys think about adding more features like deleting an existing trigger and editing it's definition from within the client?

[2017-07-31 03:55] #241 closed

[2017-07-31 04:28] pg301 opened #244 "Adding a not to alert needs to be fixed"
The API to add a note to an alert has been changed and android client's code needs to be modified to incorporate those changes.

[2017-08-04 17:53] pg301 opened #247 "Adding a metric to favourite needs to be fixed"
#246 66225a6

[2017-08-10 04:05] #242 closed